@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155285926-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-155285926-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:site_name" content="Home Care Bees" />
    <meta property="og:description" content="Modern home care starts with us, step-by-step, hand-in-hand navigating elderly care. Accommodating older adults' preference to age in their own homes." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.homecarebees.com/images/logo_312x292.png" />
    <meta property="og:image:alt" content="Home Care Bees" />
    <meta property="og:image:secure_url" content="https://www.homecarebees.com/images/logo_312x292.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="312" />
    <meta property="og:image:height" content="292" />
    <meta property="og:url" content="https://www.homecarebees.com" />
    <meta property="fb:app_id" content="416456155864186" />
    @*<meta property="og:video" content="https://www.homecarebees.com" />*@
    @RenderSection("Meta", required: false)
    <meta name="msvalidate.01" content="C5CE176423A1D237A874BB2502E79C07" />
    <title>@ViewData["Title"]</title>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" asp-append-version="true" href="css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @{
        var url = httpContextAccessor.HttpContext.Request.Scheme;
        url += "://";
        url += httpContextAccessor.HttpContext.Request.Host;
        url += httpContextAccessor.HttpContext.Request.Path.ToString();
        if (url.EndsWith("/"))
        {
            url = url.Substring(0, url.Length - 1);
        }
    }
    <link rel="canonical" href="@url" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img asp-append-version="true" src="~/images/LogoOnWhite.png" alt="Home Care Bees" title="Home Care Bees logo" style="height:55px" /></a>
                @*<a class="navbar-brand" asp-area="" asp-page="/Index" style="height:35px;background-image:url('~/images/logo.png')"></a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @ViewData["indexActive"]" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["journeyActive"]" asp-area="" asp-page="/Journey">Manage the Aging Journey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["aboutUsActive"]" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["contactUsActive"]" asp-area="" asp-page="/ContactUs">Contact Us</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark @ViewData["careersActive"]" asp-area="" asp-page="/Careers">Careers</a>
                        </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link text-dark @ViewData["privacyActive"]" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container _hcbTopOfContent">
        @*<partial name="_CookieConsentPartial" />*@
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="text-align:center;line-height:unset">
        <!--Need to add social icons-->
        <div class="container">
            &copy; 2019 - <span style="font-weight:bold">Home Care Bees</span><br />
            315 W Elliot Rd, Suite 107-186, Tempe AZ 85284<br />
            email: <a href="mailto:welcome@homecarebees.com">welcome@HomeCareBees.com</a>
                   <div style="text-align:center;margin-top:10px">
                       <a href="https://www.facebook.com/HomeCareBees/" class="fa fa-facebook-square" style="font-size:36px"></a>&nbsp;&nbsp;&nbsp;
                       <a href="https://twitter.com/HomeCareBees?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @@HomeCareBees</a>
                       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                   </div>
            <div style="text-align:center;margin-top:10px;margin-bottom:10px;">
                <a href="https://www.bbb.org/us/az/tempe/profile/senior-care/home-care-bees-1126-1000064275/#sealclick" target="_blank" rel="nofollow">
                    <img src="https://seal-central-northern-western-arizona.bbb.org/seals/blue-seal-96-50-bbb-1000064275.png" style="border: 0;" alt="Home Care Bees BBB Business Review" />
                </a>
                &nbsp;&nbsp;&nbsp;
                <img src="~/images/RapidSSL_SEAL-90x50.gif" alt="Site secured by Rapid SSL" asp-append-version="true" title="RapidSSL certification" />
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
