@page
@model Hcb.Insights.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Home Care Bees Today";
    ViewData["MetaDescription"] = "Contact Home Care Bees";
}
@section Styles {
    <style>
        .form-row > div:first-child {
            padding-left: 15px;
        }
    </style>
}

<div class="text-left">
    <h1 class="display-4" style="text-align:center">Home Care Bees - Contact Us</h1>
    <br />
    <h2>Contact us Today</h2>
    <p>We usually respond to Website inquiries the same day. &nbsp;Please submit the information requested below.</p>
    <form method="post">
        <div class="form-group">
            <label for="promotionCode">Promotion Code:</label>
            <input type="text" class="form-control" id="promotionCode" name="promotionCode" placeholder="Promotion code">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="Enter phone number" required>
            <small id="phoneNumberHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="patientAgeGroup">Patient Age:</label>
            <select class="form-control" id="patientAgeGroup" name="patientAgeGroup" required>
                <option value="">Select age group...</option>
                <option value="0-1">Baby (0-11 months)</option>
                <option value="1-3">Toddler (1-3 years)</option>
                <option value="4-5">Preschool (4-5 years)</option>
                <option value="6-12">Gradeschooler (6-12 years)</option>
                <option value="13-18">Teen (13-18 years)</option>
                <option value="19-30">Young Adult (19-30 years)</option>
                <option value="31-45">Adult (31-45 years)</option>
                <option value="46-65">Middle Age Adult (46-65 years)</option>
                <option value="66-75">Senior (66-75 years)</option>
                <option value="76+">Elderly (76+ years)</option>
            </select>
        </div>
        <label for="callTimes">Best time to call (please select all that applies):</label>
        <div class="border" style="padding-top:15px">
            @foreach (var b in Model.BestTimesToCall)
            {
                <div class="form-row">
                    <div class="col">
                        @b.DayLabel
                    </div>
                    @foreach (var t in b.CheckboxIdsAndLabels)
                    {
                        <div class="col form-group">
                            <input type="checkbox" id="@t.Id" name="@t.Id" class="form-check-input" />
                            <label for="@t.Id" class="form-check-label">@t.Label</label>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="form-group">
            <label for="emailAddress">Email address:</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inquiry">Inquiry Details:</label>
            <textarea rows="10" class="form-control" id="inquiry" name="inquiry" placeholder="Enter inquiry details" required></textarea>
        </div>
        <input type="hidden" id="reCaptchaToken" name="reCaptchaToken">
        <button type="submit" id="submitButton" style="display:none"></button>
    </form>
    <button type="button" class="btn btn-primary" onclick="_hcb.contactUs.submitClicked(event);">Submit</button>
    <input type="hidden" id="dummy">
    @section Scripts {
        <script src="~/js/contactUs.js" asp-append-version="true"></script>
        <script src="https://www.google.com/recaptcha/api.js?render=6LfHsM0UAAAAAMoFKW3RL7qfBgX8pBW5Z5EY2c2Q"></script>
    }
</div>